:root{

--background:#b8c0ec;
--card:#ffffff;
--text:#303030;
--shadow:0 10px 35px rgba(0,0,0,.08);

}

*{

box-sizing:border-box;

}

body{

margin:0;
background:var(--background);
font-family:'Inter',sans-serif;
color:var(--text);
line-height:1.8;

}

header{

max-width:900px;
margin:auto;
padding:90px 25px 60px;
text-align:center;

}

.eyebrow{

letter-spacing:4px;
text-transform:uppercase;
font-size:1rem;
font-weight:500;
color:#000;

}

h1{

font-family:'Cormorant Garamond',serif;
font-size:4.5rem;
font-weight:600;
margin:.25em 0;

}

.intro{

font-size:1.2rem;
max-width:700px;
margin:auto;
color:#444;

}

.card{

background:white;

max-width:1000px;

margin:60px auto;

padding:40px;

border-radius:22px;

box-shadow:var(--shadow);

}

.card h2{

text-align:center;

font-family:'Cormorant Garamond',serif;

font-size:2.4rem;

margin-bottom:35px;

}

.card img{

width:75%;
max-width:700px;

display:block;

margin:30px auto 20px;

border-radius:16px;
box-shadow:var(--shadow);

}

.card p{

font-size:1.05rem;

color:#555;

margin:18px 0 35px;

text-align:center;

}

footer{

text-align:center;

padding:80px 20px;

color:#666;

}

@media(max-width:700px){

h1{

font-size:3rem;

}

.card{

padding:25px;

margin:30px 15px;

}

.card h2{

font-size:2rem;

}

.intro{

font-size:1rem;

  .clickable{

cursor:zoom-in;
transition:.25s;

}

.clickable:hover{

transform:scale(1.01);

}

#lightbox{

display:none;

position:fixed;

top:0;
left:0;

width:100vw;
height:100vh;

background:rgba(0,0,0,.9);

justify-content:center;
align-items:center;

z-index:9999;

padding:30px;

}

#lightbox img{

max-width:95%;
max-height:95%;

border-radius:14px;

box-shadow:0 20px 50px rgba(0,0,0,.35);

}

#closeLightbox{

position:absolute;

top:20px;
right:30px;

color:white;

font-size:3rem;

cursor:pointer;

user-select:none;

}

}

}
